<div class="media" id="item-<%= item.id %>">
  <div class="media-body">
    <small>
      <span style="text-decoration:<%= item.complete ? 'line-through' : ''%>"><%=  item.name %></span>
          : Added <%= time_ago_in_words(item.created_at) %> ago
      <%= link_to "#{item.complete ? 'Uncheck' : 'Check'}", user_item_toggle_path(item.user, item), method: :put %>
    </small>
  </div>
</div>
